
---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';

const metadata = {
  title: 'Someone misses Melissa',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
<!-- prettier-ignore-start -->
  <Hero image={{ src: '~/assets/images/ubud.png', alt: 'ubud' }}>
<Fragment slot="title">
  A place where Simon <span>learns Web development inspired by </span>
  <span class="text-accent dark:text-white"> Melissa </span>
</Fragment>

    <Fragment slot="subtitle">
     <span class="xs:inline"> Simon misses her Voice, perfect Aura, Penny, warmth, love, boundless creativity, enthusiasm, beautiful brown eyes, smile,
Board Games, kiss, lips, hair, </span> <span class="xs:inline"> the way she says OMG, touch, story telling, Coffee and laughter. </span>
    </Fragment>
  </Hero>

<!-- prettier-ignore-end -->
  <!-- Note Widget ******************* -->

  <Note title="Philosophy:" description="Let's have fun, life is short" />


  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Dive into the following questions to help Simon."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Why Simon?',
        description:
          "He will do everything possible to make each new day better and would really like a second chance to experience perfect days again.",
      },
   {
        title: 'What should Melissa do?',
        description:
          "Call him with good news.",
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Total Days', amount: '77' },
      { title: 'Perfect Days', amount: '76.5' },
    
    ]}
  />
</Layout>
