---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Someone misses Melissa',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Get template',
        href: 'https://github.com/arthelokyo/astrowind',
        target: '_blank',
        icon: 'tabler:download',
      },
      { text: 'Learn more', href: '#features' },
    ]}
   image={{ src: '~/assets/images/hero-image.png', alt: 'AstroWind Hero Image' }}
  >
<Fragment slot="title">
  A place where Simon <span>learns Web development inspired by </span>
  <span class="text-accent dark:text-white"> Melissa </span>
</Fragment>

    <Fragment slot="subtitle">
     <span class="xs:inline"> Simon misses her Voice, Beautiful Aura, Boundless creativity, Penny, Enthusiasm, beautiful Big Brown eyes, Smile,
Board Games, Kiss, Lips, Hair, The way she says OMG, Touch, Story telling, Coffee and Laughter. </span>
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note title="Philosophy:" description="Let's have fun" />


  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Dive into the following questions to gain insights."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Why Simon?',
        description:
          "He will do everything possible to make each day better.",
      },
   {
        title: 'What should Melissa do?',
        description:
          "Call him.",
      },
     

    
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Total Days', amount: '56' },
      { title: 'Perfect Days', amount: '55' },
    
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get template',
        href: 'https://github.com/arthelokyo/astrowind',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >

  </CallToAction>
</Layout>
